#Pycharm files
*.idea

# Caches
__pycache__/

#Temp files
*.swp
*~

# Personal files
geckodriver.log
token.pickle
keys.py
Code/token.pickle
Code/api_calls/token.pickle

# Mac Desktop Services file (folder display options)
.DS_Store
/Data/Processed/saved_listings/
/Data/Processed/
/Code/geckodriver.log
/Code/api_calls/credentials.json
