#Pycharm/Jupyter files
*.idea
.ipynb_checkpoints/

# Application data
*.csv
*.xlsx

# Caches and compiled files
__pycache__/
*.pyc
*.egg-info/
build/
dist/

#Temp files
*.swp
*~

# Personal files
geckodriver.log
*.log
**/keys*.yaml
config/oauth_client_id.json
**/token.pickle
*.pdf
**/db/*
**/notebook/
docs/*.txt

# Mac Desktop Services file (folder display options)
.DS_Store
Data/Processed/saved_listings/
Data/Processed/

# virtual environment
venv/
env*/
