[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pandas = "*"
numpy = "*"
fake-useragent = "*"
google-api-python-client = "*"
beautifulsoup4 = "*"
google-auth-oauthlib = "*"
selenium = "*"
gspread = "*"
django = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
pylint = "*"
pprint = "*"
death-pledge = {editable = true,path = "."}
cloudant = "*"

[requires]
python_version = "3.7"
