asgiref==3.3.1
attrs==20.3.0
beautifulsoup4==4.9.3
cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
cloudant==2.14.0
Django==3.1.4
fake-useragent==0.1.11
future==0.18.2
google-api-core==1.23.0
google-api-python-client==1.12.8
google-auth==1.23.0
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
importlib-metadata==3.1.1
iniconfig==1.1.1
joblib==1.0.1
numpy==1.19.4
oauthlib==3.1.0
packaging==20.7
pandas==1.1.4
pluggy==0.13.1
probableparsing==0.0.1
protobuf==3.14.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
pytest==6.1.2
python-crfsuite==0.9.7
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
rsa==4.6
scikit-learn==0.24.1
scipy==1.5.4
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.59.0
uritemplate==3.0.1
urllib3==1.26.2
usaddress==0.5.10
xgboost==1.4.0
zipp==3.4.0
